@font-face {
    font-family: 'SVN-Blenda Script';
    src: url('SVN-BlendaScript.woff2') format('woff2'),
        url('SVN-BlendaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

