/*//////////////DEFINE COLORS///////////////*/

$colors: (
  primary: #F98404,
  primary-light: lighten(#F98404, 20%),
  primary-dark: darken(#F98404, 10%),
  second-color: #FC5404,
  light:#f8f8f8,
  dark: #5E454B,
  body-color: rgb(14, 14, 14),
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}


/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url('../fonts/SVN-BlendaScript.woff2') format('woff2'),
    url('../fonts/SVN-BlendaScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$banner-height: 100vh;
/* Device Breakpoint */
$mobile-width: 576px;
$tablet-width: 768px;
$tablet-land-width: 1024px;
$desktop-width: 1366px;
$big-desktop-width: 1600px;

@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin mobile-landscape {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-land-width - 1px}) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (min-width: #{$tablet-land-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$big-desktop-width - 1px}) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}
/* CUSTOM ANIMATION */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* END */