/*//////////////DEFINE COLORS///////////////*/

$colors: (
  primary: #A9780B,
  primary-light: lighten(#A9780B, 20%),
  primary-dark: darken(#A9780B, 10%),
  second-color: rgb(255, 115, 0),
  light:#f8f8f8,
  dark: rgb(88, 1, 1),
  body-color: rgb(14, 14, 14),
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}


/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url('../fonts/SVN-BlendaScript.woff2') format('woff2'),
    url('../fonts/SVN-BlendaScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$banner-height: 100vh;
/* Device Breakpoint */
$mobile-width: 576px;
$tablet-width: 768px;
$tablet-land-width: 1024px;
$desktop-width: 1366px;
$big-desktop-width: 1600px;

@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin mobile-landscape {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-land-width - 1px}) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (min-width: #{$tablet-land-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$big-desktop-width - 1px}) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}

/* END */