@import 'variables';

.pagetitlebanner {
    background: url(../../uploads/media/producst-banner.jpg);
    background-size: cover;
    background-position: center;
}

#products-main-content {
    margin: 0 auto;
}

.row.container-md {
    margin: 0 auto;
}

.product-block {
    animation: fadeInUp 0.2s;

}
