@import 'variables';




.pagetitlebanner {
    background: url(../../uploads/media/producst-banner.jpg);
    background-size: cover;
    background-position: center;

    &_intro-txt {
        font-family: 'SVN-Blenda Script';
        text-transform: capitalize;
    }

    p {
        font-family: 'SVN-Blenda Script';

    }
}

#products-main-content {
    margin: 0 auto;
}

.row.container-md {
    margin: 0 auto;
}

.product-block {
    animation: fadeInUp 0.2s;

}

.card-title {
    font-size: 14px;

}

.card-block {
    .buy {
        .add-to-cart {
            background: color(redColor);
            border: 0;
            border-radius: 20px;

            &:hover {
                background: color(second-color);
            }
        }
    }
}
// loading effect
#loading-bg {
    position: absolute;
    background: #dee2e6c9;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    right: 0;
    visibility: hidden;
}
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid color(primary);
    border-radius: 100%;
    margin: auto;    
    animation: spin 1s infinite linear;
}
#loading-bg.display {
    visibility: visible;
    animation: fadeIn 0.5s;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}