@import 'variables';




.pagetitlebanner {
    background: url(../../uploads/media/producst-banner.jpg);
    background-size: cover;
    background-position: center;
    &_intro-txt {
        font-family: 'SVN-Blenda Script';
        text-transform: capitalize;
    }
    p {
        font-family: 'SVN-Blenda Script';
        
    }
}

#products-main-content {
    margin: 0 auto;
}

.row.container-md {
    margin: 0 auto;
}

.product-block {
    animation: fadeInUp 0.2s;

}
.card-title {
    font-size: 14px;
    
}