@import 'variables';

// BANNER
.homebanner {
    background-image: url(/uploads/media/banner-bg-3.jpg);


    height: $banner-height;
    box-sizing: content-box;
    background-color: color(light);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    .overlay {
        height: $banner-height;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        inset: 0;
        padding: 0;

    }

    img {
        animation: fade-in-bottom 0.6s linear 0.2s both;
    }

    div {
        padding: 20px;
    }

    &_intro-txt {
        margin-top: 35vh;

        h1 {
            color: color(light);
            animation: fade-in-bottom 0.2s linear 0.2s both;
        }

        p {
            color: color(light);
            animation: fade-in-bottom 0.4s linear 0.2s both;
        }

    }



}

// PRODUCT CATEGORIES 
#product-categories {
    .product-cat {
        .product-cat-item {
            height: 250px;
            align-items: center;
            display: flex;

        }

        .cat-1 {
            background-image: url(/uploads/media/cat-1.jpg);
            background-size: contain;
            background-repeat: no-repeat;

        }

        .cat-2 {
            background-image: url(/uploads/media/cat-2.jpg);
            background-size: contain;
            background-repeat: no-repeat;


        }

        .cat-3 {
            background-image: url(/uploads/media/cat-3.jpg);
            background-size: contain;
            background-repeat: no-repeat;


        }
    }
}

// WHY CHOOSE US
#why-us {
    .whyus_textblock {
        text-align: center;
        align-items: center;

        &_title {
            font-weight: 700;
            font-size: 1.5rem;
        }

        img {
            width: 76px;
            height: 76px;
        }



        >div {
            // display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

        }

    }
}