@import 'variables';
// BANNER
.homebanner {
    background-image: url(/uploads/media/banner-bg-3.jpg);


    height: $banner-height;
    box-sizing: content-box;
    background-color: color(light);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    .overlay {
        height: $banner-height;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        inset: 0;
        padding:0;
        
    }

    div {
        padding: 20px;
    }

    &_intro-txt {
        margin-top: 35vh;
        h1,
        p {
            color:color(light);
        }
    }


}