@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar {
    width: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: color(primary);
}

/* Device::-webkit-scrollbar-track {
  background-color: color(second-color);
}*/

html {
    scroll-behavior: smooth;
}

body {
    background: url(../images/bg-img.png);
    background-repeat: repeat;
    color: color(body-color);
    font-size: 1em;
    font-family: 'Noto Sans JP', sans-serif;
}

li {
    list-style: none;
}

p,
ul,
li,
span,
i {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}


a {
    color: color(primary);
    text-decoration: none;

    &:hover {
        text-decoration: none !important;
        color: color(primary-light)
    }
}

.dark-skin {
    background-color: color(dark) !important;
    color: color(primary-dark) !important;

    a {
        color: color(light) !important;
    }
}

.light-skin {
    background-color: color(light) !important;
    color: color(primary) !important;
}

.txt-light {
    color: color(light);

    a {
        @extend .txt-light;
    }
}

.txt-dark {
    color: color(dark);

    a {
        @extend .txt-dark;
    }
}
select {
	appearance: none;
}
section#header {
    display: flex;
    justify-content: center;

}

.overlay {
    height: $banner-height;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;

}
.modal-content {
    @include mobile {
    top: 10vh;
    max-width: 100%; }
}
.modal-body {
    max-height: 400px;
    overflow-y: scroll;
}
/* NAVIGATION BAR */
.account a:hover {
    transition: all 1s;

    &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f35a";
        transition: all 1s;
    }
}

/* --- SECTION NORMAL MENU --- */

/* NAVIGATION BAR WHEN SCROLL */
.scroll.navibar {
    background: color(light);
    height: 70px;
    transition: all 0.5s 0s ease-out;
    color: color(dark);

    .logo {
        background-image: url(../images/logo-dark.svg);
        transition: all 0.5s 0s ease-out;
        height: 68px;
        width: 68px;
    }

    a,
    i:before {
        color: color(dark);
    }
}

/* PC NAVIGATION */
.navibar {
    .icon-cart {
        padding-top: 20px;
    }

    .account {
        border-radius: 20px;
        padding: 5px 10px;
        background: color(primary);
        color: #fff;
        display: inline-block;
        margin-left: 20px;

        a {
            color: #fff;
        }
    }

    @include flex-align-items-center;
    position: fixed;
    z-index: 999;
    width: 100%;
    justify-content: center;
    transition: all 0.5s 0s ease-out;
    left: 0;

    a {
        color: color(dark);

        &:hover {
            color: color(primary) !important;
        }
    }

    &_inner {
        padding: 10px 0;
        width: 100%;
        justify-content: center;

        &_left,
        &_center,
        &_right {
            @include flex-align-items-center;
        }

        &_left {

            height: 90px;
            transition: all 0.5s 0s ease-out;

            .logo {
                background-image: url(../images/logo-dark.svg);
                content: '';
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                box-sizing: border-box;
                transition: all 0.5s 0s ease-out;
                width: 90px;
                height: 90px;
            }
        }

        &_center {


            text-transform: uppercase;
            font-weight: 700;

            /* OPEN MEGA MENU */
            .have-sub:hover .megamenu {
                display: flex !important;
                animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            }

            >ul {

                @include flex-align-items-center;
                justify-content: space-between;
                width: 100%;

            }

        }
    }

    &_right {
        display: flex;
        align-items: center;


    }

    i {
        padding-right: 10px;
        color: color(dark);
    }
}

.scroll {


    .logo {
        background-image: url(../images/logo-dark.svg);
    }


}

// HOME PAGE MENU STYLE
.light-menu {

    .megamenu {

        .submenu_items {

            li:not(:first-child) a {
                color: color(dark) !important;

            }

            li a:hover {
                color: color(primary-light) !important
            }

            .cat-title {

                color: color(primary) !important;

                border-bottom: 1px solid color(primary) !important;

                a {
                    color: color(primary) !important;

                    &:hover {
                        color: color(primary-light) !important;
                    }
                }
            }
        }

    }

    .navibar {
        .logo {
            background-image: url(../images/logo.svg) !important;
        }

        &_inner_center a {
            color: color(light) !important;

            &:hover {
                color: color(primary-light) !important;
            }

        }

        &_inner_right {


            .total,
            i,
            a {
                color: color(light) !important;
            }
        }
    }

    .scroll {
        .logo {
            background-image: url(../images/logo-dark.svg) !important;
        }

        .total,
        .navibar_inner_center a {
            color: color(dark) !important;
        }


    }

}


/* MEGA MENU */
.megamenu {

    background-color: rgba(255, 255, 255, 0.8) !important;
    position: absolute;
    padding-top: 10px;
    left: 0;
    width: 668px;
    justify-content: start;
    background-image: url(../images/mega-menu-bg.png);
    min-height: 220px;
    box-sizing: content-box;
    background-color: color(light);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(50px);
    display: none;


    .submenu_items {

        padding: 0 20px;
        min-width: 180px;
        text-transform: capitalize;



        li:not(:first-child) a {
            color: color(dark);
            line-height: 30px;
        }

        .cat-title {
            text-transform: uppercase;
            color: color(primary);
            font-weight: 700;
            margin-bottom: 10px;
            border-bottom: 1px solid color(primary);

            a {
                color: color(primary);

                &:hover {
                    color: color(primary-light)
                }
            }
        }
    }

}

/* MOBILE MENU */

.mobile-menu {
    background-color: color(light);
    z-index: 9999;
    position: absolute;
    width: 100%;
    position: fixed;


    &_inner {
        display: flex;
        height: 80px;
        justify-content: space-around;
        transition: all 0.5s 0s ease-out;

        &_left {
            display: flex;
            align-items: center;

            .logo {
                height: 70px;
                display: flex;
                margin: 0 auto;
                transition: all 0.5s 0s ease-out;

            }
        }

        &_center {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-weight: 700;
                align-items: center;
            }

        }

        &_right {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .cart-icon {
                margin-top: 20px;
            }

            // .total-count {}

            .nav-btn {
                font-size: 28px;
                color: color(primary);
                margin-left: 15px;
                margin-top: -7.5px
            }

        }


    }

    /* WHEN SCROLL DOWN */
    .scrolldown {
        height: 60px;
        transition: all 0.5s 0s ease-out;
    }

    .scrolldown img {
        height: 50px;
        transition: all 0.5s 0s ease-out;
    }


    /* SIDEBAR MENU */
    .show {
        animation: fadeIn 0.5s;
        visibility: visible;
        z-index: 999;

        .mobile-menu_sidebar-menu_content {
            left: 0;



        }

        .close-btn {
            animation: rotateIn 0.5s;
        }


    }


    &_sidebar-menu {
        position: fixed;
        background-color: rgba(83, 83, 83, 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;

        &_content {

            position: absolute;
            width: 70vw;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.9);
            padding: 20px;
            padding-top: 55px;
            transition: all 0.5s;
            left: -75vw;
            height: 100vh;
            overflow-y: scroll;
            box-shadow: none;

            &::-webkit-scrollbar {
                box-shadow: none;
                background: transparent;

            }

            .category {
                text-align: center;
                font-weight: 700;
                background: color(primary);
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 20;
                color: white;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .search {
                margin-bottom: 15px;

                input {
                    margin-right: 5px;
                    border-radius: 20px;
                    border: 1px solid #bdbdbd;
                    padding-left: 10px;

                }
            }

            .submenu_items {
                margin-bottom: 10px;
                font-size: 20px;

                .cat-title {
                    font-weight: 500;
                    text-transform: uppercase;
                    color: color(dark);
                    border-bottom: 0.5px dashed #bdbdbd;
                }

                li:hover {
                    text-indent: 5px;
                }

            }

            .logo_sidebar {
                max-width: 20%;
                margin-bottom: 20px;
            }

        }

        .close-btn {
            font-size: 40px;
            color: color(light);
            position: absolute;
            right: 4%;
            z-index: 999;

            @include tablet {
                right: 10%;
            }

        }

    }

}

// PAGE TITLE STYLE
.pagetitlebanner {
    // background-image: url(/uploads/media/about-banner.jpg);
    height: 400px;
    box-sizing: content-box;
    background-color: color(light);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    .overlay {
        height: 400px;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        inset: 0;
        padding: 0;


    }

    img {
        animation: fade-in-bottom 0.6s linear 0.2s both;
    }

    div {
        padding: 20px;
    }

    &_intro-txt {
        margin-top: 25vh;

        h1 {
            color: color(light);
            animation: fade-in-bottom 0.2s linear 0.2s both;
        }

        p {
            color: color(light);
            animation: fade-in-bottom 0.4s linear 0.2s both;
        }

    }
}


// PRODUCTS ITEMS STYLE
.card {
    animation: fade-in-bottom 0.4s linear 0.2s both;
}
.product-block img {
    width: 100%;
}

.img-wrapper {

    
    overflow: hidden;
    
    justify-content: center;
    img  {
        width: 100%;
    }
    // @include mobile {
    //     height: 150px;
    // }

    &:hover {
        border-radius: 10px;
        transition: all 3s;

    }

    img {
        transition: all 3s;
    }

    img:hover {

        transform: scale(1.1);
    }
}

.card-block {
    padding: 10px;

    .buy {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
        }

        .card-text {
            font-weight: 700px;
            font-size: 24px;
        }
    }
}

.prd-slider_item {
    background: color(light);

    div {
        padding: 5px;
    }
}


// SCROLLTOP BUTTON
#to-top-btn {
    a {
        background: color(primary);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        i {
            color: color(light);
        }

    }

    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 9999;
    animation: fade-in-bottom 0.3s linear both;

    @include mobile {
        bottom: 20px;
        right: 20px;
    }

}

// FOOTER
#footer {
    background: transparent;
    background-image: url(../images/footer-bg.svg);
    background-position: top center;
    background-size: cover;

    p {
        color: white;
    }

    .footer_main {
        min-height: 300px;
        padding-top: 10vh;
        flex-wrap: wrap;

        &_logo {
            margin-bottom: 5vh;
            padding-top: 20px;

            @include mobile {
                padding-left: 25%;

            }

            img {

                width: 200px;

                @include tablet {
                    width: 100px;
                }
            }
        }

        &_info {
            @include mobile {
                border-bottom: 1px solid rgb(80, 80, 80);
            }
        }

        &_info,
        &_links {
            padding-bottom: 20px;
            padding-top: 20px;
            color: color(light);

            li {
                display: flex;
                padding-bottom: 10px;
                align-items: center;
            }

            i {
                border: 1px solid color(light);
                border-radius: 50%;
                padding: 20px;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a {
                color: color(light);

                &:hover {
                    color: color(primary);
                }
            }


        }

    }

    //bottom bar//
    .footer_bottom-bar {
        align-items: center;
        padding: 10px;

        .container-md {
            margin: 0 auto;
        }

        &_left {
            color: color(light);

            @include mobile {
                text-align: center;
                padding: 0;
                display: flex;
                justify-content: center;
                p { width: 100%;
                font-size: 0.9rem;}
            }

            @include tablet {
                padding-right: 20%;
            }
        }

        &_right {
            display: flex;
            justify-content: flex-end;
        }

        &_right ul {
            display: flex;

            @include mobile {
                margin: 0 auto;
            }
        }

        &_right ul li {
            margin-right: 10px;
        }

        &_right ul li i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10px;
            height: 10px;
            padding: 15px;
            border-radius: 50%;

            &:hover {
                color: color(primary);
                background: color(light);
                transition: all 0.5s 0s ease-out;
            }

        }

    }
}

/* ADD TO CART */
.incart-itemts {
    .img-frame {
        padding: 5px;
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;

        img {
            width: 100%;
            transform: scale(1.2);
        }
    }
}


.total-count {
    background: #F98404;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    color: #fff;
    left: 10px;
    bottom: 30px;
    border-radius: 50%;
    justify-content: center;
    width: 10px;
    height: 10px;
    display: flex;
    position: relative;
    align-items: center;
}

//FORM VALIDATE

.invalid {
    input {
        border-color: color(alert);
        border-bottom: color(alert);

    }

    .form-message {
        color: color(alert);
        font-style: italic;
        font-size: 12px;
    }
}

