/*//////////////DEFINE COLORS///////////////*/
/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url("../fonts/SVN-BlendaScript.woff2") format("woff2"), url("../fonts/SVN-BlendaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.pagetitlebanner {
  background: url(../../uploads/media/about-banner.jpg);
  background-size: cover;
  background-position: center; }

/* CODE Ở ĐÂY TRỞ XUỐNG NHE */
