/*//////////////DEFINE COLORS///////////////*/
/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url("../fonts/SVN-BlendaScript.woff2") format("woff2"), url("../fonts/SVN-BlendaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/* Device Breakpoint */
/* CUSTOM ANIMATION */
/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); } }

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); } }

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); } }

@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%); } }

@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%); } }

@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px; }
  100% {
    padding-top: 0px; } }

@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px; }
  100% {
    padding-top: 0px; } }

@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px; }
  100% {
    padding-top: 0px; } }

@keyframes cd-item-move-up {
  0% {
    padding-top: 104px; }
  100% {
    padding-top: 0px; } }

@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 70px; } }

@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 70px; } }

@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 104px; } }

@keyframes cd-item-move-down {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 104px; } }

@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; } }

@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; } }

@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; } }

@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; } }

/* END */
.pagetitlebanner {
  background: url(/uploads/media/producst-banner.jpg);
  background-size: cover;
  background-position: center; }

#products-main-content {
  margin: 0 auto; }

.row.container-md {
  margin: 0 auto; }

.product-block {
  animation: fadeInUp 0.2s; }
