.homebanner {
  background-image: url(/uploads/media/banner-bg.png);
  min-height: 550px;
  box-sizing: content-box;
  background-color: color(light);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.homebanner .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.homebanner div {
  padding: 20px;
}

.homebanner_intro-txt {
  margin-top: 15vh;
}
