/*//////////////DEFINE COLORS///////////////*/
/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url("../fonts/SVN-BlendaScript.woff2") format("woff2"), url("../fonts/SVN-BlendaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Device Breakpoint */
/* END */
.homebanner {
  background-image: url(/uploads/media/banner-bg-3.jpg);
  height: 100vh;
  box-sizing: content-box;
  background-color: #f8f8f8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.homebanner .overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
  padding: 0;
}

.homebanner img {
  animation: fade-in-bottom 0.6s linear 0.2s both;
}

.homebanner div {
  padding: 20px;
}

.homebanner_intro-txt {
  margin-top: 35vh;
}

.homebanner_intro-txt h1 {
  color: #f8f8f8;
  animation: fade-in-bottom 0.2s linear 0.2s both;
}

.homebanner_intro-txt p {
  color: #f8f8f8;
  animation: fade-in-bottom 0.4s linear 0.2s both;
}

#product-categories .product-cat .product-cat-item {
  height: 250px;
  align-items: center;
  display: flex;
}

#product-categories .product-cat .cat-1 {
  background-image: url(/uploads/media/cat-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#product-categories .product-cat .cat-2 {
  background-image: url(/uploads/media/cat-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#product-categories .product-cat .cat-3 {
  background-image: url(/uploads/media/cat-3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#why-us {
  background-image: url(../images/section-bg.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  text-align: center;
  margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #why-us {
    background-size: cover;
    margin-top: -5%;
  }
}

#why-us .whyus_textblock {
  color: #A9780B;
  padding: 100px 0 20px 0;
  height: 300px;
  font-family: 'SVN-Blenda Script';
  margin: 0 auto;
  max-width: 650px;
}

#why-us .whyus_textblock span {
  color: #580101;
}

#why-us .whyus_textblock p {
  color: #0e0e0e;
}

#why-us .whyus-txtbox {
  text-align: center;
  justify-content: space-between;
}

#why-us .whyus-txtbox_title {
  font-weight: 700;
  color: #A9780B;
}

#why-us .whyus-txtbox img {
  width: 76px;
  height: 76px;
}

#why-us .whyus-txtbox > div {
  background: #f8f8f8;
  padding: 50px 20px;
  margin: 0 5px;
  border-radius: 20px;
}
