/*//////////////DEFINE COLORS///////////////*/
/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url("../fonts/SVN-BlendaScript.woff2") format("woff2"), url("../fonts/SVN-BlendaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/* Device Breakpoint */
/* CUSTOM ANIMATION */
/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px); } }

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); } }

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); } }

@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%); } }

@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%); } }

@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px; }
  100% {
    padding-top: 0px; } }

@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px; }
  100% {
    padding-top: 0px; } }

@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px; }
  100% {
    padding-top: 0px; } }

@keyframes cd-item-move-up {
  0% {
    padding-top: 104px; }
  100% {
    padding-top: 0px; } }

@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 70px; } }

@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 70px; } }

@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 104px; } }

@keyframes cd-item-move-down {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 104px; } }

@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; } }

@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; } }

@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; } }

@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0; } }

/* END */
#product-container {
  height: 100vh;
  background: url(../images/product-detail-background-01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  text-align: center; }
  @media (min-width: 1600px) {
    #product-container {
      height: 80vh; } }
  #product-container .price,
  #product-container .product-tile {
    text-align: center; }
  #product-container .breadcrumb ul {
    display: flex;
    align-items: center; }
  #product-container .more-info {
    margin-bottom: 20px; }
  #product-container .add-to-cart-btn {
    background: #598b2c;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    color: #f8f8f8;
    font-weight: 700;
    font-size: 18px;
    padding: 10px; }
    #product-container .add-to-cart-btn:hover {
      background: #406420; }
  #product-container .product-image {
    display: flex;
    justify-content: center;
    align-items: center; }
    #product-container .product-image img {
      max-width: 100%; }
  #product-container .product-info {
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.6);
    /* make hover effect work properly in IE */
    /* hide radio inputs */
    /* set icon padding and size */
    /* set default star color */
    /* set color of none icon when unchecked */
    /* if none icon is checked, make it red */
    /* if any input is checked, make its following siblings grey */
    /* make all stars orange on rating group hover */
    /* make hovered input's following siblings grey on hover */
    /* make none icon grey on rating group hover */
    /* make none icon red on hover */ }
    #product-container .product-info .rating-group {
      display: inline-flex;
      margin-top: 20px;
      padding-right: 40px; }
    #product-container .product-info .rating__icon {
      pointer-events: none; }
    #product-container .product-info .rating__input {
      position: absolute !important;
      left: -9999px !important; }
    #product-container .product-info .rating__label {
      cursor: pointer;
      padding: 0 0.1em;
      font-size: 2rem; }
    #product-container .product-info .rating__icon--star {
      color: orange; }
    #product-container .product-info .rating__icon--none {
      color: #eee; }
    #product-container .product-info .rating__input--none:checked + .rating__label .rating__icon--none {
      color: red; }
    #product-container .product-info .rating__input:checked ~ .rating__label .rating__icon--star {
      color: #ddd; }
    #product-container .product-info .rating-group:hover .rating__label .rating__icon--star {
      color: orange; }
    #product-container .product-info .rating__input:hover ~ .rating__label .rating__icon--star {
      color: #ddd; }
    #product-container .product-info .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
      color: #eee; }
    #product-container .product-info .rating__input--none:hover + .rating__label .rating__icon--none {
      color: red; }
    #product-container .product-info .social-icons {
      display: flex;
      justify-content: space-around;
      width: 200px;
      margin: 20px auto;
      text-align: center; }
