/*//////////////DEFINE COLORS///////////////*/
/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url("../fonts/SVN-BlendaScript.woff2") format("woff2"), url("../fonts/SVN-BlendaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Device Breakpoint */
/* END */
::-webkit-scrollbar {
  width: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

/* Device::-webkit-scrollbar-track {
  background-color: color(second-color);
}*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #A9780B;
}

body {
  background: url(../images/bg-img.png);
  background-repeat: repeat;
}

li {
  list-style: none;
}

p,
ul,
li,
span,
i {
  margin: 0;
  padding: 0;
}

a {
  color: #A9780B;
}

a:hover {
  text-decoration: none !important;
  color: #f1b329;
}

.dark-skin {
  background-color: #580101 !important;
  color: #795608 !important;
}

.dark-skin a {
  color: #f8f8f8 !important;
}

.light-skin {
  background-color: #f8f8f8 !important;
  color: #A9780B !important;
}

.txt-light, .txt-light a {
  color: #f8f8f8;
}

.txt-dark, .txt-dark a {
  color: #580101;
}

section#header {
  display: flex;
  justify-content: center;
}

/* NAVIGATION BAR */
.navibar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  justify-content: center;
}

.navibar a {
  color: #f8f8f8;
}

.navibar a:hover {
  color: #f1b329;
}

.navibar_inner {
  padding: 10px 0;
  width: 100%;
  justify-content: center;
}

.navibar_inner_left, .navibar_inner_center, .navibar_inner_right {
  display: flex;
  align-items: center;
}

.navibar_inner_left img {
  height: 90px;
  transition: all 0.2s linear;
}

.navibar_inner_center {
  text-transform: uppercase;
  font-weight: 700;
  /* OPEN MEGA MENU */
}

.navibar_inner_center .have-sub:hover .megamenu {
  display: flex !important;
  animation: fade-in-bottom 0.2s linear 0.2s both;
}

.navibar_inner_center > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navibar_right {
  justify-content: flex-end;
}

.navibar i {
  padding-right: 10px;
  color: #f8f8f8;
}

/* NAVIGATION BAR WHEN SCROLL */
section[data-name="home-page"] .scroll.navibar {
  background: rgba(63, 2, 2, 0.8);
  height: 70px;
}

section[data-name="home-page"] .scroll.navibar img {
  height: 60px;
  transition: all 0.2s linear;
}

/* MEGA MENU */
.megamenu {
  background-color: rgba(255, 255, 255, 0.8) !important;
  position: absolute;
  padding-top: 10px;
  left: 0;
  width: 668px;
  justify-content: start;
  background-image: url(../images/mega-menu-bg.png);
  min-height: 220px;
  box-sizing: content-box;
  background-color: #f8f8f8;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(50px);
  display: none;
}

.megamenu .submenu_items {
  padding: 0 20px;
  min-width: 180px;
  text-transform: capitalize;
}

.megamenu .submenu_items li:not(:first-child) a {
  color: #580101;
  line-height: 30px;
}

.megamenu .submenu_items .cat-title {
  text-transform: uppercase;
  color: #A9780B;
  font-weight: 700;
  margin-bottom: 10px;
  border-bottom: 1px solid #A9780B;
}

.megamenu .submenu_items .cat-title a {
  color: #A9780B;
}

.megamenu .submenu_items .cat-title a:hover {
  color: #f1b329;
}

#to-top-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  animation: fade-in-bottom 0.3s linear both;
}

#to-top-btn a {
  background: #A9780B;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#to-top-btn a:hover,
#to-top-btn a i {
  color: #f8f8f8;
}
