/*//////////////DEFINE COLORS///////////////*/
$colors: (primary: #A9780B,
  primary-light: lighten(#A9780B, 20%),
  primary-dark: darken(#A9780B, 10%),
  second-color: rgb(255, 115, 0),
  light:#f8f8f8,
  dark: rgb(88, 1, 1),

);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

/* Device Breakpoint */
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$big-desktop-width: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$big-desktop-width - 1px}) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}

::-webkit-scrollbar {
  width: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

/* Device::-webkit-scrollbar-track {
  background-color: color(second-color);
}*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: color(primary);
}

li {
  list-style: none;
}

p,
ul,
li,
span,
i {
  margin: 0;
  padding: 0;
}

a {
  color: color(primary);

  &:hover {
    text-decoration: none !important;
    color: color(primary-light)
  }
}

.dark-skin {
  background-color: color(dark) !important;
  color: color(primary-dark) !important;

  a {
    color: color(light) !important;
  }
}

.light-skin {
  background-color: color(light) !important;
  color: color(primary) !important;
}

.txt-light {
  color: color(light);

  a {
    @extend .txt-light;
  }
}

.txt-dark {
  color: color(dark);

  a {
    @extend .txt-dark;
  }
}

section#header {
  display: flex;
  justify-content: center;
}
/* NAVIGATION BAR */
.navibar {
  position: fixed;
  background: rgb(100, 99, 99);
  z-index: 999;

  #main-menu {
    padding: 10px 0;
    margin-left: 0!important;
  }

  &_inner {
    padding: 10px 0;
    width: 100%;
    justify-content: center;

    &_logo {

      img {
        height: 90px;
      }
    }

    &_menu {
      align-items: center;
      text-transform: uppercase;
      font-weight: 700;

      ul {

        display: flex;
        justify-content: space-between;
        width: 100%;
      }

    }

    &_right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      i {
        padding-right: 10px;
      }
    }
  }

  /* MEGA MENU */
  .megamenu {

    margin: 0;

    &_promo {

      img {
        max-width: 100%;
      }
    }

    &_list-cat {
      p {
        text-transform: uppercase;
        color: color(primary);
        font-weight: 500;
        border-bottom: 2px solid #dee2e6;
        text-indent: 5px;
        margin: 10px;
      }
    }
  }

}