/*//////////////DEFINE COLORS///////////////*/
/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url("../fonts/SVN-BlendaScript.woff2") format("woff2"), url("../fonts/SVN-BlendaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Device Breakpoint */
/* END */
::-webkit-scrollbar {
  width: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

/* Device::-webkit-scrollbar-track {
  background-color: color(second-color);
}*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  background-color: #F98404;
}

body {
  background: url(../images/bg-img.png);
  background-repeat: repeat;
  color: #0e0e0e;
  font-size: 1em;
}

li {
  list-style: none;
}

p,
ul,
li,
span,
i {
  margin: 0;
  padding: 0;
}

a {
  color: #F98404;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: #fdb566;
}

.dark-skin {
  background-color: #5E454B !important;
  color: #c76903 !important;
}

.dark-skin a {
  color: #f8f8f8 !important;
}

.light-skin {
  background-color: #f8f8f8 !important;
  color: #F98404 !important;
}

.txt-light, .txt-light a {
  color: #f8f8f8;
}

.txt-dark, .txt-dark a {
  color: #5E454B;
}

section#header {
  display: flex;
  justify-content: center;
}

/* NAVIGATION BAR */
.navibar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  justify-content: center;
}

.navibar a {
  color: #f8f8f8;
}

.navibar a:hover {
  color: #F98404 !important;
}

.navibar_inner {
  padding: 10px 0;
  width: 100%;
  justify-content: center;
}

.navibar_inner_left, .navibar_inner_center, .navibar_inner_right {
  display: flex;
  align-items: center;
}

.navibar_inner_left {
  height: 90px;
  transition: all 0.5s 0s ease-out;
}

.navibar_inner_left .logo {
  background-image: url(../images/logo.svg);
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  transition: all 0.5s 0s ease-out;
  width: 90px;
  height: 90px;
}

.navibar_inner_center {
  text-transform: uppercase;
  font-weight: 700;
  /* OPEN MEGA MENU */
}

.navibar_inner_center .have-sub:hover .megamenu {
  display: flex !important;
  animation: fade-in-bottom 0.2s linear 0.2s both;
}

.navibar_inner_center > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navibar_right {
  justify-content: flex-end;
}

.navibar i {
  padding-right: 10px;
  color: #f8f8f8;
}

.mobile-menu {
  background-color: #f8f8f8;
  z-index: 9999;
  position: absolute;
  width: 100%;
}

.mobile-menu_inner {
  display: flex;
}

.mobile-menu_inner_center > ul {
  display: flex;
}

.mobile-menu_inner_center > ul li > {
  align-items: center;
}

.mobile-menu_sidebar-menu {
  position: absolute;
  background-color: #E9BC32;
  top: 0;
}

/* NAVIGATION BAR WHEN SCROLL */
section[data-name="home-page"] .scroll.navibar {
  background: #f8f8f8;
  height: 70px;
  transition: all 0.5s 0s ease-out;
  color: #5E454B;
}

section[data-name="home-page"] .scroll.navibar .logo {
  background-image: url(../images/logo-dark.svg);
  transition: all 0.5s 0s ease-out;
  height: 68px;
  width: 68px;
}

section[data-name="home-page"] .scroll.navibar a,
section[data-name="home-page"] .scroll.navibar i:before {
  color: #5E454B;
}

.megamenu {
  background-color: rgba(255, 255, 255, 0.8) !important;
  position: absolute;
  padding-top: 10px;
  left: 0;
  width: 668px;
  justify-content: start;
  background-image: url(../images/mega-menu-bg.png);
  min-height: 220px;
  box-sizing: content-box;
  background-color: #f8f8f8;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(50px);
  display: none;
}

.megamenu .submenu_items {
  padding: 0 20px;
  min-width: 180px;
  text-transform: capitalize;
}

.megamenu .submenu_items li:not(:first-child) a {
  color: #5E454B;
  line-height: 30px;
}

.megamenu .submenu_items .cat-title {
  text-transform: uppercase;
  color: #F98404;
  font-weight: 700;
  margin-bottom: 10px;
  border-bottom: 1px solid #F98404;
}

.megamenu .submenu_items .cat-title a {
  color: #F98404;
}

.megamenu .submenu_items .cat-title a:hover {
  color: #fdb566;
}

#to-top-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  animation: fade-in-bottom 0.3s linear both;
}

#to-top-btn a {
  background: #F98404;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#to-top-btn a:hover,
#to-top-btn a i {
  color: #f8f8f8;
}

#footer {
  background: #E9BC32;
  background-image: url(../images/footer-bg.svg);
  background-position: top center;
  background-size: cover;
}

#footer .footer_main {
  min-height: 300px;
  padding-top: 10vh;
  flex-wrap: wrap;
}

#footer .footer_main_logo {
  margin-bottom: 5vh;
  padding-top: 20px;
}

@media (max-width: 576px) {
  #footer .footer_main_logo {
    padding-left: 25%;
  }
}

#footer .footer_main_logo img {
  width: 200px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #footer .footer_main_logo img {
    width: 100px;
  }
}

@media (max-width: 576px) {
  #footer .footer_main_info {
    border-bottom: 1px solid #505050;
  }
}

#footer .footer_main_info, #footer .footer_main_links {
  padding-bottom: 20px;
  padding-top: 20px;
  color: #f8f8f8;
}

#footer .footer_main_info li, #footer .footer_main_links li {
  display: flex;
  padding-bottom: 10px;
}

#footer .footer_main_info i, #footer .footer_main_links i {
  border: 1px solid #f8f8f8;
  border-radius: 50%;
  padding: 20px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .footer_main_info a, #footer .footer_main_links a {
  color: #f8f8f8;
}

#footer .footer_main_info a:hover, #footer .footer_main_links a:hover {
  color: #F98404;
}

#footer .footer_bottom-bar {
  align-items: center;
  padding: 10px;
}

#footer .footer_bottom-bar_left {
  color: #f8f8f8;
}

@media (max-width: 576px) {
  #footer .footer_bottom-bar_left {
    text-align: center;
    padding: 10px 15%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #footer .footer_bottom-bar_left {
    padding-right: 20%;
  }
}

#footer .footer_bottom-bar_right {
  display: flex;
  justify-content: flex-end;
}

#footer .footer_bottom-bar_right ul {
  display: flex;
}

#footer .footer_bottom-bar_right ul li {
  margin-right: 10px;
}

#footer .footer_bottom-bar_right ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  padding: 15px;
  border-radius: 50%;
}

#footer .footer_bottom-bar_right ul li i:hover {
  color: #F98404;
  background: #f8f8f8;
  transition: background 0.5s 0s ease-out;
}
