/*//////////////DEFINE COLORS///////////////*/
/* Fonts */
@font-face {
  font-family: 'SVN-Blenda Script';
  src: url("../fonts/SVN-BlendaScript.woff2") format("woff2"), url("../fonts/SVN-BlendaScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Device Breakpoint */
/* END */
.homebanner {
  background-image: url(../../uploads/media/banner-bg-3.jpg);
  height: 100vh;
  box-sizing: content-box;
  background-color: #f8f8f8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.homebanner .overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  inset: 0;
  padding: 0;
}

.homebanner img {
  animation: fade-in-bottom 0.6s linear 0.2s both;
}

.homebanner div {
  padding: 20px;
}

.homebanner_intro-txt {
  margin-top: 35vh;
}

.homebanner_intro-txt h1 {
  color: #f8f8f8;
  animation: fade-in-bottom 0.2s linear 0.2s both;
}

.homebanner_intro-txt p {
  color: #f8f8f8;
  animation: fade-in-bottom 0.4s linear 0.2s both;
}

#product-categories .product-cat .product-cat-item {
  height: 250px;
  align-items: center;
  display: flex;
}

#product-categories .product-cat .cat-1 {
  background-image: url(../../uploads/media/cat-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#product-categories .product-cat .cat-2 {
  background-image: url(../../uploads/media/cat-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#product-categories .product-cat .cat-3 {
  background-image: url(../../uploads/media/cat-3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#why-us {
  background-image: url(../images/section-bg.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  text-align: center;
  margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #why-us {
    background-size: cover;
    margin-top: -5%;
  }
}

#why-us .whyus_textblock {
  color: #F98404;
  padding: 100px 0 20px 0;
  height: 300px;
  font-family: 'SVN-Blenda Script';
  margin: 0 auto;
  max-width: 650px;
}

#why-us .whyus_textblock span {
  color: #5E454B;
}

#why-us .whyus_textblock p {
  color: #0e0e0e;
}

#why-us .whyus-txtbox {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

#why-us .whyus-txtbox_title {
  font-weight: 700;
  color: #F98404;
}

#why-us .whyus-txtbox img {
  width: 76px;
  height: 76px;
}

#why-us .whyus-txtbox > div > div {
  background: #f8f8f8;
  padding: 40px 5px;
  margin-bottom: 10px;
}

.prd-slider,
.clients-logo {
  margin-top: 10vh;
}

.prd-slider h1,
.clients-logo h1 {
  color: #F98404;
  text-align: center;
  font-family: 'SVN-Blenda Script';
  padding-bottom: 5vh;
}

.product-block img {
  width: 100%;
  margin-bottom: 10px;
}

.product-block h4,
.product-block p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}

.clients-logo img {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 576px) {
  .clients-logo img {
    width: 100%;
  }
}

#newsletters {
  background-color: #e9bc32;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#newsletters .box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 500px;
  margin: 0 15px;
}

#newsletters .box h2 {
  margin: 10px 0 0;
}

#newsletters .box p {
  color: #312940;
  margin: 10px;
}

#newsletters .box img {
  max-width: 100%;
  width: 400px;
}

#newsletters .form-control {
  position: relative;
  margin: 30px 0 20px;
  padding: 0;
  border: 0;
}

#newsletters .input {
  border: 0;
  border-radius: 50px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  display: block;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  width: 100%;
}

#newsletters .btn {
  background-color: #312940;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  height: 42px;
  padding: 12px 25px;
  position: absolute;
  top: 0;
  right: 0;
}

#newsletters .input:focus,
#newsletters .btn:focus {
  outline: 0;
}
